.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--bp-xl);
    align-items: center;
    margin: 0 auto;
    height: 100%;
}

app-header, app-footer{
    width: 100%;
    height: 10%;
}