.home {
    background-color: var(--primary-color);
    height: 100vh;
    width: 100vw;
    display: flex;
}

.home_content{
    display: inherit;
    width: 80%;
    align-items: center;
    margin: 0 auto;
}

.home_content_left, .home_content_right{
    display: inherit;
    flex-direction: column;
    justify-content: center; 
    padding: 1em;   
    box-sizing: border-box;
    height: 70%;
    width: 50%;
    text-align: center;
}

.home_content_left{
    background-color: var(--clr-primary);
}

.home_content_right {
    background-color: var(--clr-secondary);

    button {
        width: fit-content;
        margin: 2em auto;
    }
}