/* You can add global styles to this file, and also import other style files */
@import "/src/app/core/utils/css/reset";
@import "/src/app/core/utils/css/variables";

body{
    height: 100vh;
    background-color: var(--clr-background);
    color: var(--clr-text);
    font-family: var(--font-family);
}

app-portfolio, app-showcase{
    flex-grow: 1;
}